# Flask Backend Dependencies
Flask-CORS==4.0.0
Werkzeug==3.0.1
gevent==24.2.1


supabase==1.0.3
gotrue==1.0.4
postgrest==0.13.2
httpx==0.24.1
Flask==3.0.2
gunicorn==21.2.0
python-dotenv==1.0.1
requests==2.31.0



# OpenAI for Chatbot
openai==1.12.0
