Flask-CORS==4.0.0
Werkzeug==3.0.1
supabase==1.2.0
gotrue==1.0.4
postgrest==0.10.8
httpx==0.24.1
Flask==3.0.2
gunicorn==21.2.0
python-dotenv==1.0.1
requests==2.31.0
python-dotenv==1.0.1

openai==1.12.0
